<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="softwaretestingmaterial">
 <test name="testngTest">
 
 <groups>
 <run>
 <include name="functionalTest" />
 <exclude name="smokeTest" />
 
 </run>
 </groups>
 
 <classes>
 <class name="softwaretestingmaterial.TestCase1" />
 <class name="softwaretestingmaterial.TestCase2" />
 </classes>
 </test>
</suite>